@media screen and (max-width: 376px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 90%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 80px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        /*background: red;*/
    }

    .menu {
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 15px 4px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.7rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 90%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 60px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 100%;

        padding: 10px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 200px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 35px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 45%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 100%;
        padding: 20px;
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 35px;
        height: 35px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 0.9rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 12px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 376px) and (max-width: 600px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 90%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 80px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        /*background: red;*/
    }

    .menu {
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 15px 4px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.7rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 90%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 60px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 100%;

        padding: 10px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 200px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 35px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 45%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 100%;
        padding: 20px;
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 35px;
        height: 35px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 0.9rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 12px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 600px) and (max-width: 960px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 90%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        /*background: red;*/
    }

    .menu {
        width: 50%;
        padding-left: 10px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 15px 4px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.7rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 70%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 60px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 100%;

        padding: 20px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 300px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 35px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 1rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 28%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 100%;
        padding: 20px;
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 40px;
        height: 40px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 13px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 960px) and (max-width: 1280px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 90%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        /*background: red;*/
    }

    .menu {
        width: 40%;
        padding-left: 30px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 20px 4px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.9rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 70%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 60px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 70%;

        padding: 20px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 300px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 35px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 1rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 28%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 30%;

        padding: 20px;
        border-left: 1px solid rgba(128, 128, 128, 0.44);
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 25px;
        height: 25px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 0.9rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 11px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 80%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        /*background: red;*/
    }

    .menu {
        width: 35%;
        padding-left: 30px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 20px 4px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.9rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 70%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 90px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 70%;

        padding: 20px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 55px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 26%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 30%;

        padding: 20px;
        border-left: 1px solid rgba(128, 128, 128, 0.44);
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 35px;
        height: 35px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 0.9rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 11px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 80%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        /*background: red;*/
    }

    .menu {
        width: 30%;
        padding-left: 30px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 20px 4px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.9rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 50%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 90px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 70%;

        padding: 20px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 55px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 26%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 30%;

        padding: 20px;
        border-left: 1px solid rgba(128, 128, 128, 0.44);
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 35px;
        height: 35px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #474646;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 12px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-weight: 600;
        text-align: center;
    }


}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    * {
        box-sizing: border-box;
        font-family: "Calibri Light", sans-serif;
    }

    body {
        min-height: 150vh;
        background: linear-gradient(0grad, #9c9b9b, #fefefe);
    }

    .wrap {
        width: 80%;
        margin: auto;
    }

    /* Заголовок */
    .header {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        /*background: red;*/
    }

    .menu {
        width: 20%;
        padding-left: 30px;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        /*background: #0c800c;*/
    }

    .menu-home-page, .menu-secondary-page {
        text-transform: uppercase;
        padding: 8px 20px 4px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #10a610;
        color: #ffffff;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .menu-home-page {
    }

    .menu-secondary-page {
        border: 2px solid #bfbfbf;
        background: linear-gradient(0grad, #bfbfbf, #ffffff);
    }

    .menu-home-page-link, .menu-secondary-page-link {
        width: 100%;
        text-decoration: none;
        font-size: 0.9rem;
        color: #ffffff;
    }

    .menu-home-page-link {}

    .menu-secondary-page-link {
        color: #49606e;
    }

    .block-action-search {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-photo {
        width: 40px;
        height: 80%;
        margin-right: 15px;
    }

    .icon-search {
        height: 100%;

    }

    .search-block {
        width: 50%;
        height: 100%;
    }

    .search-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        height: 70%;
        padding: 10px;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-input:hover {
    }

    /* Content page */

    .content-page {
        /*box-shadow: 0 0 5px 1px rgb(155, 154, 154);*/
    }

    /* Логотип */

    .block-logo {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: linear-gradient(0grad, #ffffff, #f0efef);
    }

    .logo-block-actions {
    }

    .logo-img {
        height: 90px;
    }

    /* Info */

    .info {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
    }

    .button-home-page {
        width: 120px;
        font-size: 1.3rem;
        border: 2px solid #10a610;
        color: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(0grad, #10a610, #50dc43);
    }

    .actions-info {
        display: flex;
        /*align-items: center;*/
    }

    .info-title {
        padding: 0;
        margin: 0 0 0 1px;
        font-size: 0.9rem;
        color: #323232;
    }

    /* Content */
    .block-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        background-color: #ffffff;
    }

    /* Левая часть content */

    .main-content {
        width: 70%;

        padding: 20px;
    }

    .content-card {
        padding-bottom: 30px;
        border-bottom: 1px solid #bebebe;
    }

    .carousel-block {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .carousel-arrow-left, .carousel-arrow-right {
        width: 65px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }

    .carousel-arrow-left {
        left: 1%;
    }

    .carousel-arrow-right {
        right: 1%;
    }

    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
    }

    /* Block content info*/

    .block-content-info {
        width: 100%;
        min-height: 150px;
    }

    .content-card-title {
        margin-bottom: 5px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .content-card-info-block {
        display: flex;
        align-items: center;
    }

    .content-text-date, .content-text-user, .content-link-editor {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        text-transform: lowercase;
        margin-right: 10px;
        color: #bebebe;
    }

    .content-text-date {
    }

    .content-text-user {
    }

    .content-link-editor {
        text-transform: none;
        color: #0c800c;
    }

    .content-text-date-img, .content-text-user-img, .content-link-editor-img {
        width: 20px;
        margin-right: 5px;
    }

    .content-text-date-img {
    }

    .content-text-user-img {
    }

    .content-link-editor-img {
    }

    .content-card-text {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 550;
        text-align: justify;
    }

    /* Контент второй страницы */

    .content-card-gallery-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-card-gallery-img {
        width: 28%;
        margin-bottom: 30px;
    }

    /* Правая часть content */

    .secondary-content {
        width: 30%;

        padding: 20px;
        border-left: 1px solid rgba(128, 128, 128, 0.44);
    }

    .icons-social-network {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .link-social-network {
        width: 45px;
        height: 45px;
    }

    .img-social-network {
        height: 100%;
    }

    /* Popular video и другие объекты */

    .block-popular-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .block-title-popular-video {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #949393;
        color: #474646;
        background: linear-gradient(0grad, #a6a5a5, #ffffff);
    }

    .title-popular-video {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .block-img-popular-video {
        width: 100%;
        margin-top: 10px;
    }

    .img-video-screen {
        width: 100%;
    }

    .label-content-search {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
    }

    .input-content-search {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        border: 1px solid #bfbfbf;

        background-image: url("../images/search.gif");
        background-repeat: no-repeat;
        background-position: right;
    }

    .block-new-tape {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block-title-new-tape {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #dddddd;
        color: #777583;
        background: linear-gradient(0grad, #dddddd, #ffffff);
    }

    .title-new-tape {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .text-new-tape {
        display: flex;
        flex-direction: column;
    }

    .p-new-tape {
        font-weight: 600;
        font-size: 1.2rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #949393;
        color: #786350;
    }

    .img-new-tape {
        width: 13px;
        margin-right: 5px;
    }

    .footer {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: #4a9f3a;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
    }

    .footer-title-span {
        text-decoration: underline;
    }

    .footer-title-span:hover {
        cursor: pointer;
    }

    .thanks {
        font-weight: 600;
        text-align: center;
    }


}